.principal {
    font-size: 15px;
    color: var(--marrom);
}

.principal-partes,
.principal-retrospectiva {
    display: flex;
    padding-top: 30px;
    padding-bottom: 40px;
    gap: 120px;
}

.principal-retrospectiva {
    display: flex;
    background-color: var(--amarelo);
}

.principal-slider-imagem img,
.principal-retrospectiva-poster img {
    width: 450px;
    height: 550px;
    object-fit: cover;
}

.principal-partes button,
.principal-retrospectiva button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    background-color: var(--amarelo);
    box-shadow: 3px 3px 3px 2px var(--cinza);

    width: 150px;
    height: 60px;
    border-radius: 4px;
}

.principal-partes button img,
.principal-retrospectiva button img {
    width: 30px;
}

.principal-partes button a,
.principal-retrospectiva button a {
    text-decoration: none;
    font-weight: bold;
    color: var(--marrom);
}

.principal-botoes {
    display: flex;
    gap: 5px;
}

.principal-botoes button img {
    width: 25px;
}

.principal-partes div h2 {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-bottom: 40px;

    text-transform: capitalize;
}

.principal-partes div h2::after {
    content: "";
    display: block;
    width: 160px;
    height: 15px;
    background-color: var(--amarelo);
}

.principal-partes div p {
    width: 572px;
    padding-bottom: 30px;
}

.principal-slider button {
    position: relative;
    right: 70px;

    width: 60px;
    height: 60px;
    cursor: pointer;
}

.principal-slider button img {
    width: 30px;
    height: 30px;
}

.principal-slider-imagem {
    display: flex;
    align-items: center;
}

.principal-slider-imagem::before {
    content: "";
    position: relative;
    left: 20px;
    z-index: 2;

    display: block;
    width: 30px;
    height: 350px;

    background-color: var(--amarelo);
    border-radius: 20px;
}

.principal-retrospectiva img {
    padding-left: 20%;
}

.principal-retrospectiva-texto {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.principal-retrospectiva-titulo {
    display: flex;
    gap: 20px;

    background-color: var(--preto);
    color: var(--amarelo);

    padding: 25px;
    font-size: 20px;
    border-radius: 4px;
}

.principal-retrospectiva-texto p {
    font-size: 18px;
    padding-top: 40px;
    width: 80%;
}