

.principal-vegvin {
    display: flex;
    gap: 30px;
}

.principal-vinland-forum {
    background-color: #EFB135;
    border-radius: 8px;
    width: 800px;
    padding: 20px;
    margin-bottom: 30px;
}

.principal-vinland-forum img {
    width: 800px;
    height: 160px;
    object-fit: cover;
    border-radius: 8px;
}

.principal-vinland-forum h1 {
    padding-bottom: 10px;
}

.principal-sinopse {
    background-color: #EFB135;
    padding: 20px;
    width: 800px;
    border-radius: 8px;
}

.principal-sinopse-imagens {
    display: flex;
    align-items: center;
    justify-content: center;
}

.principal-sinopse-imagens img {
    width: 50px;
}

#principal-sinopse-logo {
    width: 250px;
    padding-left: 100px;
    padding-right: 120px;
    padding-bottom: 30px;
}

.principal-imagem img {
    width: 370px;
    height: 480px;
    object-fit: contain;
}

.principal-imagem::before {
    content: "";
    display: block;
    position: absolute;
    top: 160px;
    right: 330px;
    background-color: #EFB135;
    width: 20px;
    height: 400px;
    border-radius: 40px;
}

.principal-previa {
    color: #361E05;
}

.principal-previa {
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 110px;
}

.principal-previa-navegacao {
    display: flex;
    gap: 50px;
    padding-bottom: 30px;
}

.principal-previa-navegacao button {
    text-decoration: none;
    padding-bottom: 5px;
    cursor: pointer;

    font-size: 16px;
    font-weight: bold;

    background-color: #FFF;
    color: #361E05;
}

#ativo {
    border-bottom: 4px solid #EFB135;
}

.principal-previa-imagem img {
    width: 450px;
    height: 560px;
    object-fit: cover;
}

.principal-previa-texto {
    width: 650px;
}

.principal-previa-texto h2 {
    padding-bottom: 10px;
}

.principal-previa-texto p {
    padding-bottom: 30px;
}

.principal-previa-texto p i {
    padding-bottom: 30px;
}

.principal-previa-texto button {
    width: 200px;
    padding: 20px;
    border-radius: 4px;
    background-color: #EFB135;
    font-weight: bold;
}

.principal-fale-conosco {
    display: flex;
    color: black;
}

.fale-conosco-inputs {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    background-color: #EFB135;
    color: #361E05;
    font-weight: bold;

    width: 671px;
    height: 736px;
}

.fale-conosco-inputs h1 {
    padding-bottom: 20px;
}

.fale-conosco-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fale-conosco-inputs .fale-conosco-enviar {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 80%;
}

.fale-conosco-inputs div input {
    padding: 18px;
    border-radius: 4px;
    margin-bottom: 30px;
}

#assunto {
    margin-bottom: 30px;
    height: 150px;
}

.fale-conosco-inputs button {
    margin: 0 auto;
    width: 250px;
    padding: 15px;
    font-size: 18px;
    border-radius: 4px;
    background-color: #100F0B;
    color: #EFB135;
}

.fale-conosco-redes {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding-right: 30px;

    width: 100%;
}

.fale-conosco-redes img {
    display: flex;
    width: 40px;

    cursor: pointer;
}