@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sarala:wght@400;700&display=swap');

:root {
    --amarelo: #EFB135;
    --amarelo-bg-ativo: #FAD998;
    --branco: #FFF;
    --marrom: #361E05;
    --preto: #000;
    --cinza: #9695945d;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Inter', sans-serif, Arial, Helvetica;
}

.principal-login,
.principal-cadastro {
    width: 70%;
    height: 100vh;
    color: var(--marrom);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.principal-login h1,
.principal-cadastro h1 {
    padding-bottom: 1.6rem;

    font-size: 1.8rem;
    text-transform: capitalize;
}

.principal-login-texto,
.principal-cadastro-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    font-weight: bold;

    background-color: var(--amarelo);
    padding: 2.5rem;
    border-radius: 4px;

    margin: 0 auto;
    width: 18rem;
    height: 20rem;

}

.principal-login-texto {
    height: 13rem;
}

.principal-login-texto p,
.principal-cadastro-texto p {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.principal-login-texto input,
.principal-cadastro-texto input {
    padding: 0.5rem;
    border-radius: 4px;
}

.principal-login-imagem img,
.principal-cadastro-imagem img {
    position: fixed;
    right: 0;
    top: 0;

    height: 100vh;
}

.principal-login button,
.principal-cadastro button {
    background-color: var(--preto);
    border-radius: 4px;
    color: var(--amarelo);

    margin-top: 1rem;
    padding: 0.6rem;
    width: 9rem;

    font-size: 1rem;
    font-weight: bold;
    text-transform: capitalize;
    cursor: pointer;
}

#input-data {
    width: 10rem;
}

.principal-barra {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;

    background-color: var(--amarelo);
    width: 80px;
    height: 100vh;
    padding-top: 20px;

    position: fixed;
    top: 0;
    left: 0;
}

.principal-barra div {
    display: flex;
    gap: 20px;
    align-items: center;
}

.principal-barra span {
    cursor: pointer;
    margin-left: 15px;
}

.principal-barra a {
    margin-left: 10px;
    width: 30px;
    padding: 10px;
    cursor: pointer;
    color: var(--preto);
}

.principal-barra p {
    font-weight: bold;
    font-size: 18px;
}

#barra-ativo {
    background-color: var(--amarelo-bg-ativo);
    border-radius: 8px;
}

.menu-ativo {
    width: 300px;
}

.second-part {
    display: none;
}

#photo {
    display: none;
}

#label-photo {
    --amarelo-bg-comentario: #f2c05dab;
    height: 120%;
    background-color: var(--amarelo-bg-comentario);

    border-radius: 8px;
    cursor: pointer;
    border: 2px dashed var(--amarelo-bg-ativo);

    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 7rem;
        height: 7rem;
        object-fit: cover;
    }
}